@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');

@font-face {
  font-family: 'proxima nova light';
  src: url('fonts/proximanova-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
	font-family: 'proxima nova light', sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
}

.bg {
	background: url("images/ballroom-bg.jpg") no-repeat fixed center;
  	background-size: cover;
  	display: flex;
  	align-items: flex-end;
  	justify-content: flex-start;
  	height: 100vh;
  	width: 100%;
}

.jumbotron {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 10px 15px;
	height: 75%;
	width: 60%;
	padding: 0 15px;
	position: relative;
}

.container {
	margin: 0 auto;
	width: 100%;
}

h1 {
	border-top: 2px solid #7A6600;
	border-bottom: 2px solid #7A6600;
	color: #7A6600/*#C200CD*//*B20097*/;
	font-family: 'Dancing Script', cursive;
	font-size: 50px;
	margin: 15px;
	position: absolute;
	text-shadow: 1px 1px 0 #ccac00;
}

#questionNum {color: #fff;}

#currentQ {
	border-bottom: 3px solid #fff;
	color: #fff;
	display: inline-block;
	font-family: 'Libre Baskerville', serif;
	font-size: 60px;
	position: relative;
	text-shadow: 3px 3px 10px #000;
}

#btn-list {
	margin: 15px auto;
	width: 70%;
}

.btn-item, #replayBtn {
	border: none;
	border-radius: 3px;
	box-shadow: 1px 1px 3px #000;
	font-size: 14px;
	font-weight: bold;
	margin: 10px 5px;
	padding: 5px 10px;
	width: auto;
}

.btn-item:hover, #replayBtn:hover {
	background-color: #002BE8;
	color: #FFF;
	cursor: pointer;
	box-shadow: 2px 2px 5px #1518BA, -2px 2px 5px #1518BA, 2px -2px 5px #1518BA, -2px -2px 5px #1518BA;
}

.btn-item:focus {
	outline: none;
}

.hide{
	display: none;
}

.vid-clip {
	margin-bottom: 10px;
	width: 60%;
}

.result-bg {
	background-image: radial-gradient(circle at bottom left, red 5%, purple 50%, blue, black);
}

#result h2 {
	color: #fff/*#C200CD*/;
	font-family: 'Dancing Script', 'Freestyle Script', cursive;
	font-size: 50px;
	font-weight: bold;
	margin: 5px;
	margin-top: 0;
	text-shadow: 2px 2px 0 #000;
}

#profile {
	color: #fff;
	font-size: 20px;
	margin: 0;
}

@media only screen and (max-width: 767px){
	.bg {
		background: url("images/ballroom-bg-mobile.jpg");
  		background-size: cover;
  		justify-content: center;
	}

	.jumbotron {
		width: 100%;
	}

	#currentQ {
		font-size: 40px;
	}

	h1 {
		font-size: 40px;
	}

	.vid-clip {
		width: 100%;
	}
}

@media only screen and (max-width: 576px){

	#result h2 {
		font-size: 45px;
		margin: 0;
	}

	#currentQ {
		font-size: 30px;
		text-shadow: 1px 1px 3px #000;
	}

	#btn-list {
		width: auto;
	}

	#profile {
		font-size: 14px;
	}
}

@media screen and (orientation:landscape) and (max-width: 1000px){

	h1 {
		font-size: 35px;
		position: absolute;
		width: 95%;
	}

	#currentQ {
		font-size: 30px;
		line-height: 1;
	}

	.vid-clip {
		width: 60%;
	}
}